<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>ReactJS + Spring Data REST</title>
    <!-- Thanks to the maven frontend plugin we don't have to download the .js files here -->
    <script async="" data-main="/run.js" src="/bower_components/requirejs/require.js"></script>
</head>
<body>
	<!-- This should allow this template to work with React  -->
    <div id="react"></div>
    <script src="built/bundle.js"></script>

</body>
</html>